#login {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#logincontainer {
    background-color: rgb(39, 41, 42);
    color: white;
    border-radius: 35px;
    height: 425px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form, .bottomdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    margin-top: 10px;
}

.formitem {
    margin-bottom: 15px !important;
}

